body {
    font-family: 'Poppins';
    background-color: #fff;
  }
  
/* NAVBAR */
.navbar {
    background-color: #19376D;
    overflow: hidden;
    margin-bottom: 50px;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px 15px 50px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

/* BMI CALCULATOR */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
  
h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(74, 74, 74);
    line-height: 50%;
}

#desc {
    font-size: 14px;
    text-align: center;
    color: #8a8a8a;
    font-weight: 600;
    margin-bottom: 30px;
}
  
#height , #weight {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 2px solid #8a8a8a;
}
  
button {
    background-color: #576CBC;
    color: #fff;
    padding: 12px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
}
  
button:hover {
    background-color: #19376D;
}
  
#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
  
.underweight {
    color: #f44336;
}
  
.normal {
    color: #4caf50;
}
  
.overweight {
    color: #ff9800;
}
  
.obesity {
    color: #f44336;
}

.flex-container {
    display: flex;
}
  
.flex-container > div {
    margin-left: 10px;
    padding: 0px 20px 20px 20px;
    color: rgb(74, 74, 74);
}

h2 {
    line-height: 50%;
}

#bmi {
    text-align: justify;
    line-height: 175%;
}

#underweight {
    color: #f44336;
    line-height: 100%;
}

#overweight {
    color: #ff9800;
    line-height: 100%;
}
  
#obese {
    color: #f44336;
    line-height: 100%;
}