body {
    font-family: 'Poppins';
    background-color: #f4f4f4;
  }
  
/* NAVBAR */
.topnav {
    background-color: #19376D;
    overflow: hidden;
    margin-bottom: 50px;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px 15px 50px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

/* BMI CALCULATOR */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
h1 {
    text-align: center;
    margin-top: 0;
    color: rgb(74, 74, 74);
}
  
#height , #weight {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
  
button {
    background-color: #576CBC;
    color: #fff;
    padding: 12px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
}
  
button:hover {
    background-color: #19376D;
}
  
#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
  
.underweight {
    color: #f44336;
}
  
.normal {
    color: #4caf50;
}
  
.overweight {
    color: #ff9800;
}
  
.obesity {
    color: #f44336;
}